@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/Radomir\ Tinkov\ -\ Gilroy-Medium.otf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/Radomir\ Tinkov\ -\ Gilroy-Bold.otf");
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2d3439;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.center {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

#logo {
  font-weight: bold;
  padding: 0.2rem;
  border-right: 1px solid #979797;
  font-family: Gilroy-Bold;
  font-size: 17px;
}

#product-roadmap-header {
  font-size: 32px;
  font-family: Gilroy-Medium;
}

#nav {
  height: 48px;
  border-bottom: 1px solid #979797;
}

.grow {
  flex-grow: 1;
}

.tab {
  color: #5e6266;
  font-size: Gilroy-Medium;
  margin-left: 12px;
}

.selected {
  border-bottom: 1px solid blue;
}

#nav-secondary {
  border-bottom: 1px solid #979797;
  height: 86px;
}

#board {
  background-color: #e4e6e8;
  color: #5e6266;
  min-height: calc(100vh - 86px - 48px - 2px - 16px);
  padding: 16px 48px 0px 48px;
}

.side-nav-button {
  background-color: #e4e6e8;
  margin: 10px;
  width: 154px;
  border-radius: 10pxs;
  height: 36px;
  color: #5e6266;
  padding-left: 10px;
  border-radius: 10px;
}

.side-nav-container {
  margin-top: 86px;
  border-top: 1px solid #979797;
}

.selectable:hover {
  cursor: pointer;
}

.selectable {
  user-select: none;
}

.modal {
  max-width: 400px;
  box-shadow: 2px 2px black;
  padding: 20px;
  background-color: white;
  height: fit-content;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}

.modal-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-submit {
  color: white;
  background-color: #1973ba;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  float: right;
}

.shadow {
  -moz-box-shadow: 0 0 3x rgb(162, 162, 162);
  -webkit-box-shadow: 0 0 3px rgb(162, 162, 162);
  box-shadow: 0 0 3px rgb(162, 162, 162);
}

.sample-drag-zone {
  border: 2px dashed #e4e6e8;
  height: 40px;
  margin-bottom: 10px;
}

.column {
  flex-direction: column;
}

.dropzone {
  display: block;
  width: 100%;
  height: 80px;
  margin-top: 10px;
}

.lane {
  width: 100%;
  height: fit-content;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px 5px 0px 0px;
}

.lane-header {
  background-color: #EF6031;
  border-radius: 5px 5px 0px 0px;
  color: white;
  height: fit-content;
  padding: 5px;
}

.bar {
  background-color: #1973BA;
  color: white;
  border-radius: 5px;
  width: 8.3%;
  height: 20px;
  display: inline-block;
}

.empty {
  background-color: white;
}

.bars {
  height: 100%;
  width: 100%;
}

.barzone {
  height: 40px;
}

.isOver {
  outline: 2px dashed #e4e6e8;
}